/* Colores base pastel */
:root {
    --rosa: #fddde6;
    --celeste: #d0f0fd;
    --lavanda: #e6e6fa;
    --menta: #d1f7c4;
    --marron-claro: #d9b99b;
    --gris-oscuro: #4e4e4e;
    --rosa-fuerte: #fbcee1;
    --letras-rosa:#c83776;

    }

/* Aplicar la fuente a todo */
* {
  font-family: 'Sour Gummy', sans-serif;
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  padding-top: 80px;
  background: linear-gradient(to bottom, var(--rosa), var(--lavanda), var(--celeste), var(--menta));
  color: var(--letras-rosa);
}

/* === HERO SECTION – SECCIÓN PRINCIPAL DE BIENVENIDA === */

    /* Sección Hero */
.hero {
    padding: 60px 20px;

  }
  
.hero-contenido {
    text-align: center;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    }
  
  
  .texto {
    flex: 1 1 500px;
    padding: 20px;
  }
  
  .texto h2 {
    font-size: 2.5rem;
    color: var(--letras-rosa);
    margin-bottom: 20px;
  }
  
  .texto p {
    font-size: 1.3rem;
    margin-bottom: 30px;
    color: #d074a1;
  }
  
  .botones {
    display: flex;
    gap: 15px;
    justify-content: center;  /*  centra horizontalmente */
    flex-wrap: wrap;          /* evita que se rompa en pantallas chicas */
  }
  
  .boton-hero {
    display: inline-block;
    background-color: var(--letras-rosa);
    color: white;
    border: 1px solid #c83776;
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 1.1rem;
    transition: transform 0.3s ease, background-color 0.3s ease;
  }
  
  .boton-hero:hover {
    background-color: #c83776;
    transform: scale(1.05);
  }
  
.boton-hero.secundario {
    background-color: white;
    color: var(--letras-rosa);
    border: 1px solid #c83776;
}

.boton-hero.secundario:hover {
  background-color: var(--rosa-fuerte);
  transform: scale(1.05);
}

  
.imagen {
  flex: 1 1 300px;
  padding: 20px;
  text-align: center;
}

.imagen img {
  max-width: 100%;
  height: auto;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

/*-------------------HEATHER*/

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  padding: 15px 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; 
  z-index: 1000;
}

.logo {
  font-size: 1.5rem;
  color: var(--letras-rosa);
  margin: 0;
}

.navbar nav {
  display: flex;
  flex-wrap: nowrap;      
  gap: 15px;               
  justify-content: flex-end;
  align-items: center;
}


.navbar nav a {
  font-size: 1rem;      
  padding: 4px 8px;        
  text-decoration: none;
  color: var(--letras-rosa);
  font-weight: bold;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  white-space: nowrap;     
}

.navbar nav a:hover {
  background-color: var(--lavanda);
}


/*------------------------------------seccion favoritos*/

.card {
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  margin: 0;              
  width: 100%;            
  transition: transform 0.3s ease;
}
.card img {
  width: 100%;
  height: auto !important; 
  object-fit: cover;
  border-radius: 0;
}

/*para q se amolden */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px;
}

.card:hover {
  transform: scale(1.02);
}

.card-title {
  color: var(--letras-rosa) !important;
}
.card-text {
  color: #d074a1 !important;
}
.text-body-secondary {
  color: #d074a1a0 !important;
}

/* Imagen en la parte izquierda de cada card */
.card img {
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

/*-----------------------------PERSONALIZAR*/

.capibara-container {
  position: relative;
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

#capibara-img {
  width: 100%;
  height: auto;
  display: block;
}

#capibara-anteojos {
  top: 22%;         
  left: 50%;        
  width: 38%;       
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%); /* centra mejor */
}


#capibara-celular {
  fill:#421c7d; /* fill por normas de bootstap*/
  top: 60%;         
  left: 35%;        
  width: 15%;       
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%); 
}

#capibara-flor {
  fill:#dd498c; 
  top: 12%;         
  left: 65%;        
  width: 15%;       
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%); 
}

#capibara-taza {
  fill:#fff3eb; 
  top: 64%;         
  left: 50%;        
  width: 15%;       
  position: absolute;
  pointer-events: none;
  z-index: 10;
  display: none;
  transform: translate(-50%, -50%); 
}

/* ----------------------------------------------seccion de newsletter*/
.newsletter-section {
  width: 100%;
  margin: 0;
  padding: 60px 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
}


.newsletter-box {
  background-color: white;
  border-radius: 20px;
  max-width: 1000px;
  width: 100%;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.newsletter-title {
  color: var(--letras-rosa);
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.newsletter-text {
  color: #d074a1;
  font-size: 1rem;
  margin-bottom: 20px;
}

.newsletter-input {
  max-width: 300px;
  border-radius: 30px;
  padding: 10px 20px;
  border: 1px solid #f6bcd0;
  font-size: 0.95rem;
}

.btn-subscribe {
  background-color: #f06ca0;
  color: white;
  border-radius: 30px;
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-subscribe:hover {
  background-color: var(--letras-rosa);
  color: white;
  transform: scale(1.05);
}

/*----------------comentarios*/

.btn-agregar{
  background-color: var(--letras-rosa);
  color: white;
  border: none;
}

.btn-agregar:hover{
  background-color: var(--letras-rosa);
  color: white;
  transform: scale(1.05);
}

/* Estilo para el contenedor de cada comentario */
.comentario {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

/* Botón Editar rosa */
.btn-editar {
  background-color: #e78eb9;
  color: white;
  border: none;
}

.btn-editar:hover {
  background-color: #d38baa;
  color: white;
}





/* -------------------------------------------------FOOTER*/

.footer {
    background-color: var(--rosa-fuerte);
    color: var(--letras-rosa);
    padding: 60px 0 30px;
    width: 100%;
    left: 0;
  }
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    gap: 40px;
    width: 100%;
    margin: 0 auto;
    max-width: 1200px;
  }
  
  .footer-col:first-child {
    margin-right: auto; /* empuja las otras columnas hacia la derecha */
  }
  
  .footer-col h3,
  .footer-col h4 {
    margin-bottom: 12px;
    color: var(--letras-rosa);
  }
  
  .footer-col p {
    margin-bottom: 10px;
    line-height: 1.5;
  }
  
  .footer-col ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .footer-col ul li {
    margin-bottom: 8px;
  }
  
  .footer-col ul li a {
    text-decoration: none;
    color: var(--letras-rosa);
    transition: color 0.3s ease;
  }
  
  .footer-col ul li a:hover {
    color: var(--gris-oscuro);
  }
  
  .footer-icons {
    display: flex;
    gap: 16px;
    margin-top: 10px;
  }
  
  .icon {
    width: 20px;
    height: 20px;
    fill: var(--letras-rosa);
    transition: transform 0.3s ease;
    cursor: pointer;
  }
  
  .icon:hover {
    transform: scale(1.1);
  }
  
  .footer-bottom {
    font-size: 0.85rem;
    margin-top: 30px;
    text-align: center;
  }





/*---------------------------------------PAGINA COLECCION.HTML-----------------------------------------*/
.btn-adoptar{
  background-color: var(--letras-rosa);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
}

.btn-adoptar:hover{
  background-color: var(--letras-rosa);
  color: white;
  transform: scale(1.05);
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%;    
}

.card-body a.btn-adoptar {
  margin-top: auto; /* Empuja el botón hacia abajo */
}

